
{% load crispy_forms_tags %}
{% load staticfiles %}

<!-- Bootstrap Core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Primary CSS file -->
<link href="{% static 'css/transliterate_css.css' %}" rel="stylesheet">
<body>
{% block body %}
    
    <div class="container">
        <div class="row">
            <div class="box">

                <div id='title-text'
                     class='title col-lg-8 col-lg-offset-2
                            col-md-10 col-md-offset-1
                            col-sm-12
                            col-xs-12'>
                    <hr>
                    <h1>Transliterate English to Deseret</h1>
                    <hr>
                </div><!-- /#title-text -->

                <div id='english-input-div'>
                    <br>
                    <textarea id="english-input"
                              rows="8"
                              placeholder="Type English here."
                              class="col-lg-3 col-lg-offset-2
                                     col-md-4 col-md-offset-1
                                     col-sm-12
                                     col-xs-12"></textarea>
                </div><!-- /#english-input-div -->

                <div id="deseret-output-div"
                     class="col-lg-5
                            col-md-6
                            col-sm-12
                            col-xs-12">
                    <h5 id="deseret-output"></h5>
                </div><!-- /#deseret-output-div -->

                <div id='intro-text'
                     class="col-lg-8 col-lg-offset-2
                            col-md-10 col-md-offset-1
                            col-sm-12
                            col-xs-12">
                    <hr>
                    Enter text in English in the box on the left; 
                    Deseret text will appear in the box on the right.<br>
                    Allowable pronunciation symbols are: , . ? ! ' " ( )<br>
                    Note that hyphens and non-English and/or accented letters are not viable at this point.<br>
                    The only capitalization patterns are all-caps, no-caps, or initial caps. Maximum length is 200 characters.
                    <hr>
                </div><!-- /#intro-text -->

            </div><!-- /.box -->
        </div><!-- /.row -->
    </div><!-- /.container -->

<script src="{% static 'js/jquery.js' %}"></script>

<script type="text/javascript">
// Initialize variables
    var delayVar = "";
    // I need an extra line so I can hide this section

// continuousProcess: Function to deal with one word at a time
    function continuousProcess() {

        // Turn the input into a single string
        input_orig = $('#english-input').val();

        // Turn input string into a list of words; split on 
        // anything that is not an English letter or an apostrophe
        input_list = $('#english-input').val().split(/[^a-zA-Z']+/);
        num_words = input_list.length;
        last_word = input_list[num_words - 1];

        // Test if the last character is a non-letter or non-apostrophe
        last_char = input_orig[input_orig.length - 1]
        if (/[^a-zA-Z']+/.test(last_char)) {
            $('#deseret-output').append(last_char);
        } else {

            $.ajax({
                type: 'GET',
                url: '/continuous_process/',
                data: { input: last_word },
                error: function() {},
                success: function(data) {
                    // current output text
                    str = $('#deseret-output').text();
                    // last space in current output text
                    last_s = str.lastIndexOf(" ") + 1;
                    // everything before last space in output text
                    str_a = str.substring(0, last_s != -1 ? last_s : str.length);
                    $('#deseret-output').text(str_a);

                    for(i = 0; i < data.length; i++) {
                        $('#deseret-output').append(data[i]);
                    };
                }
            });
        };
    }

// batchProcess: Function to deal with the whole input at one time
    function batchProcess() {
        in_orig = $('#english-input').val();

        $.ajax({
            type: 'GET',
            url: '/batch_process/',
            data: {input: in_orig},
            error: function() {},
            success: function(data) {
                var outputText = data;
                $('#deseret-output').html(outputText.replace(/\r\n?|\n/g, '<br />'));
            }
        });
    }

// Logic to deal with events, timing, etc
    $('#english-input').focus();
    $('#english-input').on('keydown', function() {
        clearTimeout(delayVar);
        continuousProcess();
        delayVar = setTimeout(batchProcess, 500);
    });
        
</script>

{% endblock body %}
</body>
{% comment %}
For now, the transliterator:<br>
-- ignores hard returns (it registers them in the input but doesn't convert them to br in the HTML<br>
-- can handle some punctuation: , . ? ! ' " ( )<br>
-- but uses the font-mapping of AdamicBee for other punctuation, like: [ ] / ; : { } | @#$%^* etc<br>
-- if it doesn't recognize a word it returns a series of periods (.) corresponding to the number of characters (in English) in the original word<br>
-- has a thoroughly unreliable "engine" to convert English phonetics into Deseret<br>
-- can handle all-caps words and no caps words and initial-caps words but not any other combinations of capitalization (eg, McDonalds) <br>
<br>
<br>
Future iterations: in addition to the continuous output string, place each output word in a separate box with the original English, IPA, Arpabet, Deseret, and alternatives stacked vertically. By putting the text in individual boxes they can resize dynamically. 
{% endcomment %}