
{% load crispy_forms_tags %}
{% load staticfiles %}

<!-- Bootstrap Core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Primary CSS file -->
<link href="{% static 'css/transliterate_css.css' %}" rel="stylesheet">

{% block body %}
    
    <div class="container">
        <div class="row">
            <div class="box">
                
            <div>
                <hr>
                Enter text in English. Viable pronunciation symbols are: <br>
                , . ? ! ' " ( )<br>
                Note that hyphens are not viable at this point.
            </div>

            <div>
                {% crispy form_1 %}
            </div>

            <div>
                <h5>
                {{ unic_str }}
                </h5>
            </div>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js">
    </script>

    <script type="text/javascript">

        $('#english-input').on('keyup', function() {

            input_orig = $('#english-input').val()
            input_list = $('#english-input').val().split(" ")
            // console.log("input list: " + input_list)
            // console.log("input char length: " + input_orig.length)

            num_words = input_list.length
            last_word = input_list[num_words - 1]
            // console.log("# of words separated by a space in input: " + num_words)
            // console.log("last word: " + last_word)

            // console.log("last char: " + input_orig[input_orig.length - 1])
            if (input_orig[input_orig.length - 1] == " ") {
                // console.log("you've hit the first space option")
                $('#deseret-output').append(" ");
            } else {

                $.ajax({
                    type: 'GET',
                    url: '/short_text/',
                    data: { input: last_word },
                    error: function() {
                        //what to do if there is an error
                    },
                    success: function(data) {
                        str = $('#deseret-output').text();
                        // console.log("str: " + str)
                        last_s = str.lastIndexOf(" ") + 1;
                        // console.log("last_s: " + last_s)
                        str_a = str.substring(0, last_s != -1 ? last_s : str.length);
                        $('#deseret-output').text(str_a)

                        for(i = 0; i < data.length; i++) {
                            $('#deseret-output').append(data[i]);
                        };
                    }
                });
            };
        });

    </script>

{% endblock body %}

{% comment %}
For now, the transliterator:<br>
-- ignores hard returns (it registers them in the input but doesn't convert them to br in the HTML<br>
-- can handle some punctuation: , . ? ! ' " ( )<br>
-- but uses the font-mapping of AdamicBee for other punctuation, like: [ ] / ; : { } | @#$%^* etc<br>
-- if it doesn't recognize a word it returns a series of periods (.) corresponding to the number of characters (in English) in the original word<br>
-- has a thoroughly unreliable "engine" to convert English phonetics into Deseret<br>
-- can handle all-caps words and no caps words and initial-caps words but not any other combinations of capitalization (eg, McDonalds) <br>
<br>
<br>
Future iterations: in addition to the continuous output string, place each output word in a separate box with the original English, IPA, Arpabet, Deseret, and alternatives stacked vertically. By putting the text in individual boxes they can resize dynamically. 
{% endcomment %}